@font-face {
	font-family: ge-zodiac;
	src: url(../fonts/ge-zodiac.ttf);
}

@font-face {
	font-family: audimat-bold;
	src: url(../fonts/AUdimat-Bold.otf);
}

@font-face {
	font-family: audimat;
	src: url(../fonts/AUdimat-Regular.otf);
}

@font-face {
	font-family: socicon;
	src: url(../fonts/socicon.ttf);
}

@media only screen and (max-width: 411px) {
	.logo {
		font-size: 1.5em;
	}
	.navbar,
	.navbar-brand {
		min-height: 2em;
		padding-top: .3em;
		padding-bottom: .3em;
	}
	
	.content {
		padding-top: 3em;
	}
	
}

@media only screen and (min-width: 412px) {
	.logo {
		font-size: 2.3em;
	}
	.navbar,
	.navbar-brand {
		min-height: 3em;
		padding-top: .3em;
		padding-bottom: .3em;
	}
	
	.content {
		padding-top: 3.3em;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1){
	body {
		background-image: url(../images/background/background-1x.png);
		background-repeat: repeat;
	}
}

@media only screen and (-webkid-min-device-pixel-ratio: 2){
	body {
		background-image: url(../images/background/background-2x.png);
		background-repeat: repeat;
	}
}

#lion-glyph {
	color: whitesmoke;
}

.ge-zodiac {
	font-family: ge-zodiac;
}

.name {
	font-family: audimat-bold;
}

#first-name {
	color: royalblue;
}

#last-name {
	color: gold;
}

.socicons {
	font-family: socicon;
	font-size: 2em;
	color: lightsteelblue;
}

.tap-target {
	min-width: 40px;
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 20px;
	margin-right: 20px;
	display:inline-block;
}


.tap-target:link,
.tap-target:active,
.tap-target:visited {
	text-decoration: none;
}

.tap-target:hover {
	color: whitesmoke;
}
